frontend/node_modules
frontend/tmp
frontend/public
frontend/npm-debug.log

backend/app/bootstrap.php.cache
backend/app/cache/*
!backend/app/cache/.gitkeep
backend/app/config/parameters.yml
backend/app/logs/*
!backend/app/logs/.gitkeep
backend/app/phpunit.xml
backend/bin/
backend/composer.phar
backend/vendor/
backend/web/bundles/
